<h1><%= @company.name %></h1>

<p><%= link_to 'Edit', edit_company_path(@company) %></p>
<p><%= button_to 'Delete', company_path(@company), method: :delete, 
       form: { style: 'display: inline-block;' }, 
       style: 'background: none; border: none; padding: 0; font-family: inherit; font-size: inherit; color: inherit; text-decoration: underline; cursor: pointer;' %></p>
<p><%= link_to 'Back', companies_path %></p>

<h2>Users</h2>
<% @company.users.each do |user| %>
  <ul>
    <li><%= user.display_name %></li>
  </ul>
<% end %>